@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins");
.ipei-core-login-container {
  background-color: white;
  border-radius: 15px;
  margin-top: -30px !important;
  margin: auto;
  padding: 60px;
  width: 25%;
  -webkit-box-shadow: 0px 0px 15px -10px #3877b5;
  box-shadow: 0px 0px 15px -10px #3877b5;
}

.blue-var {
  background-color: #3877b5;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
}

.blue-var.height-100 {
  height: 150px !important;
}

.ipei-wave-up {
  margin-top: 130px !important;
}

.ipei-logo {
  position: relative;
  text-align: center;
  margin-top: -35px;
}

.ipei-logo img {
  height: 20em;
}

input {
  outline: none;
  border: none;
}

input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

label {
  display: block;
  margin: 0;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

.ipei-pass-forget {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: #555555;
}

.ipei-wrap-login {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ipei-login-bg {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.ipei-login-bg::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.ipei-login-form {
  width: 560px;
  display: block;
}

.ipei-login-form-title {
  width: 100%;
  display: block;
  font-family: "Poppins";
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.ipei-wrap-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.label-ipei-input {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.ipei-input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
}

input.ipei-input {
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.ipei-input-has-value {
  padding-top: 20px;
}

.ipei-input:focus {
  padding-top: 0;
  height: 50px;
}

.has-val,
.ipei-input:focus + .label-ipei-input {
  top: 14px;
  font-size: 13px;
}

.ipei-input-checkbox {
  display: none;
}

.ipei-label-checkbox {
  font-family: "Poppins";
  font-size: 13px;
  color: #999999;
  line-height: 1.4;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.ipei-container-login-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ipei-login-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #c08200;
  font-family: "Montserrat" sans-serif;
  font-weight: bolder;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.ipei-login-form-btn:hover {
  background: #333333;
}
/*# sourceMappingURL=login.css.map */